body {
    background-color: cornflowerblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: cornflowerblue;
}
p {
    font-size: 18px;
    color: cadetblue;
}
